[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
croniter = "*"
lxml = "*"
graphviz = "*"
pkommand = {ref = "5111b3e", git = "https://github.com/berquerant/pkommand.git"}
pyparsing = "*"

[dev-packages]
pytest = "*"
black = "*"
tox = "*"
mypy = "*"
isort = "*"
pydocstyle = "*"
pytest-freezegun = "*"
pytest-cov = "*"
types-croniter = "*"
pyproject-flake8 = "*"

[requires]
python_version = "3.10"

[scripts]
check = "tox -e black,isort,flake8,mypy,pydocstyle -p 4"
test = "tox -e py310"
req = "requirements > requirements.txt"
