[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
croniter = "*"
lxml = "*"
graphviz = "*"
pkommand = {ref = "5111b3e", git = "https://github.com/berquerant/pkommand.git"}

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"
tox = "*"
mypy = "*"
isort = "*"
pydocstyle = "*"
pytest-freezegun = "*"
pytest-cov = "*"
types-croniter = "*"

[requires]
python_version = "3.10"
