-i https://pypi.org/simple
croniter==2.0.3
graphviz==0.20.1
lxml==5.1.0
git+https://github.com/berquerant/pkommand.git@5111b3e524b20937ea48f6055e09fd2a60830699#egg=pkommand
python-dateutil==2.9.0.post0
six==1.16.0
